[run]
branch  = True
source  = firebird
omit    = lib/*
          bin/*
          lib64/*
          include/*
          version.py
          setup.py
          firebird/mocks/*
[html]
directory = test/coverage
