[run]
branch  = True
source  = ccdc
omit    = lib/*
          bin/*
          lib64/*
          include/*
          version.py
          setup.py
          ccdc/mocks/*
          ccdc/cmdline.py
          test/fixtures.py
[html]
directory = test/coverage
