#/usr/bin/env bash

########################
# CCDC Configuration
########################

export ARD_CHIPMUNK=<http://host:port/path>
export AUX_CHIPMUNK=<http://host:port/path>
export CASSANDRA_HOST=<ip address>
export CASSANDRA_PORT=9042
export CASSANDRA_USER=<username>
export CASSANDRA_PASS=<password>
export MESOS_PRINCIPAL=<username>
export MESOS_SECRET=<password>
export MESOS_ROLE=<role>
export IMAGE=<usgseros/lcmap-ccdc:VERSION>
export CORES=<as many as you can negotiate for>
export INPUT_PARTITIONS=<# controls parallel requests to chipmunk>
export PRODUCT_PARTITIONS=$((CORES * 8))
export DRIVER_MEMORY=5g
export EXECUTOR_MEMORY=4g
export MASTER=<mesos://zk://host1:2181,host2:2181,host3:2181/mesos>
#MASTER=local[*]
export VOLUME=`echo ~/keys`:/certs
export CCDC_USER=$USER
export SERIALIZER="org.apache.spark.serializer.KryoSerializer"

############################
# End CCDC Configuration
############################


############################
# Don't alter anything below
############################

TIMESTAMP=`date --iso-8601=seconds`

BASE="docker run \
-it --rm \
-e TINI_SUBREAPER=true \
-e LIBPROCESS_SSL_ENABLED=1 \
-e LIBPROCESS_SSL_SUPPORT_DOWNGRADE=1 \
-e LIBPROCESS_SSL_VERIFY_CERT=0 \
-e LIBPROCESS_SSL_ENABLE_SSL_V3=0 \
-e LIBPROCESS_SSL_ENABLE_TLS_V1_0=0 \
-e LIBPROCESS_SSL_ENABLE_TLS_V1_1=0 \
-e LIBPROCESS_SSL_ENABLE_TLS_V1_2=1 \
-e LIBPROCESS_SSL_CERT_FILE=/certs/mesos.crt \
-e LIBPROCESS_SSL_KEY_FILE=/certs/mesos.key \
-e LIBPROCESS_SSL_CA_FILE=/certs/TrustedRoot.crt \
-e LIBPROCESS_SSL_CA_DIR=/certs \
-e LIBPROCESS_SSL_ECDH_CURVE=auto \
-e ARD_CHIPMUNK=$ARD_CHIPMUNK \
-e AUX_CHIPMUNK=$AUX_CHIPMUNK \
-e CASSANDRA_HOST=$CASSANDRA_HOST \
-e CASSANDRA_PORT=$CASSANDRA_PORT \
-e CASSANDRA_USER=$CASSANDRA_USER \
-e CASSANDRA_PASS=$CASSANDRA_PASS \
-e INPUT_PARTITIONS=$INPUT_PARTITIONS \
-e PRODUCT_PARTITIONS=$PRODUCT_PARITIONS \
-e USER=$USER \
--publish-all \
--network=host \
--pid=host \
-v $VOLUME \
$IMAGE"

CMD="$BASE spark-submit \
--master $MASTER \
--total-executor-cores $CORES \
--conf spark.driver.host=$HOSTNAME \
--conf spark.mesos.principal=$MESOS_PRINCIPAL \
--conf spark.mesos.secret=$MESOS_SECRET \
--conf spark.mesos.role=$MESOS_ROLE \
--conf spark.mesos.executor.docker.image=$IMAGE \
--conf spark.mesos.executor.docker.forcePullImage=false \
--conf spark.serializer=$SERIALIZER"

# Spark runtime configuration options are available at
# https://spark.apache.org/docs/latest/configuration.html
#
# --driver-memory $DRIVER_MEMORY \
# --executor-memory $EXECUTOR_MEMORY \

alias ccdc-changedetection="$CMD \
--conf spark.app.name=$CCDC_USER:ccdc-changedetection:[$TIMESTAMP] \
--conf spark.mesos.task.labels=ccdc-changedetection:$USER \
/home/lcmap/ccdc/cli.py changedetection"

alias ccdc-classification="$CMD \
--conf spark.app.name=$USER:ccdc-classification:[$TIMESTAMP] \
--conf spark.mesos.task.labels=ccdc-classification:$USER \
/home/lcmap/ccdc/cli.py classification"